body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr;
    grid-template-rows: 2fr 4.5fr 2fr;
    grid-template-areas: "logo . ." "mockups mockups text" ". . icons";
    background-image: url('./images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    margin: 3rem;
    grid-area: logo;
}

.mockups {
    margin-left: 3rem;
    grid-area: mockups;
}

.text {
    margin-right: 2rem;
    grid-area: text;
    color: white;
}

.title {
    font-family: 'Poppins', sans-serif;
}

.icons {
    grid-area: icons;
}

.text a {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
    padding: 10px 50px;
    border-radius: 40px;
}

a {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
}

.icons {
    color: white;
    display: flex;
    justify-content: flex-end;
}

.icons i {
    margin: 1rem;
}

@media only screen and (max-width:1000px) {
    .mockups img {
        width: 500px;
        height: 450px;
    }
}

@media only screen and (max-width:750px) {
    body {
        margin: 0 auto;
        overflow: scroll;
    }
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr .3fr;
        grid-template-areas: "logo" "mockups" "text" "icons";
        background-image: url(./images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        background-attachment: fixed;
    }
    .mockups img {
        width: 400px;
        height: 350px;
    }
    .text {
        margin-left: 2rem;
        margin-bottom: 2rem;
        display: grid;
        justify-items: center;
    }
    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50%;
        justify-items: center;
        justify-self: center;
    }
}

@media only screen and (max-width:450px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .6fr .6fr .2fr;
    }
    .text {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .text .paragraf {
        margin-bottom: 1rem;
    }
    .mockups img {
        width: 300px;
        height: 250px;
    }
    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50%;
        justify-self: center;
    }
}